<div class="container">
  <div class="flex-container">
    <h1 style="text-align: center">Machine Configuration</h1>
    <mat-card class="Configuration_Area">
      <form novalidate (ngSubmit)="save()" [formGroup]="machineConfigForm">
        <mat-card-content>
          <mat-form-field
            style="margin-right: 20px"
            appearance="outline"
            fxFlex
          >
            <mat-label>Machine Name</mat-label>
            <input
              matInput
              type="text"
              placeholder="Machine Name"
              formControlName="machine_name"
              [ngClass]="{
                'is-invalid':
                  (machineConfigForm.get('machine_name')?.touched ||
                    machineConfigForm.get('machine_name')?.dirty) &&
                  machineConfigForm.get('machine_name')?.valid
              }"
            />
            <mat-error>
              <span
                *ngIf="machineConfigForm.get('machine_name')?.errors?.required"
              >
                Please enter your machine name.
              </span>
              <span
                *ngIf="machineConfigForm.get('machine_name')?.errors?.minlength"
              >
                The machine name must be longer than 3 characters.
              </span>
            </mat-error>
          </mat-form-field>

          <mat-form-field
            style="margin-right: 20px"
            appearance="outline"
            fxFlex
          >
            <mat-label>Input Min</mat-label>
            <input
              matInput
              type="number"
              placeholder="Input Min"
              formControlName="input_min"
              [ngClass]="{
                'is-invalid':
                  (machineConfigForm.get('input_min')?.touched ||
                    machineConfigForm.get('input_min')?.dirty) &&
                  machineConfigForm.get('input_min')?.valid
              }"
            />
            <mat-error>
              <span
                *ngIf="machineConfigForm.get('input_min')?.errors?.required"
              >
                Please enter input min value.
              </span>
            </mat-error>
          </mat-form-field>

          <mat-form-field
            style="margin-right: 20px"
            appearance="outline"
            fxFlex
          >
            <mat-label>Input Max</mat-label>
            <input
              matInput
              type="number"
              placeholder="Input Max"
              formControlName="input_max"
              [ngClass]="{
                'is-invalid':
                  (machineConfigForm.get('input_max')?.touched ||
                    machineConfigForm.get('input_max')?.dirty) &&
                  machineConfigForm.get('input_max')?.valid
              }"
            />
            <mat-error>
              <span
                *ngIf="machineConfigForm.get('input_max')?.errors?.required"
              >
                Please enter input max value.
              </span>
            </mat-error>
          </mat-form-field>

          <mat-form-field
            style="margin-right: 20px"
            appearance="outline"
            fxFlex
          >
            <mat-label>Output Min</mat-label>
            <input
              matInput
              type="number"
              placeholder="Output Min"
              formControlName="output_min"
              [ngClass]="{
                'is-invalid':
                  (machineConfigForm.get('output_min')?.touched ||
                    machineConfigForm.get('output_min')?.dirty) &&
                  machineConfigForm.get('output_min')?.valid
              }"
            />
            <mat-error>
              <span
                *ngIf="machineConfigForm.get('output_min')?.errors?.required"
              >
                Please enter output min value.
              </span>
            </mat-error>
          </mat-form-field>

          <mat-form-field
            style="margin-right: 20px"
            appearance="outline"
            fxFlex
          >
            <mat-label>Output Max</mat-label>
            <input
              matInput
              type="number"
              placeholder="Output Max"
              formControlName="output_max"
              [ngClass]="{
                'is-invalid':
                  (machineConfigForm.get('output_max')?.touched ||
                    machineConfigForm.get('output_max')?.dirty) &&
                  machineConfigForm.get('output_max')?.valid
              }"
            />
            <mat-error>
              <span
                *ngIf="machineConfigForm.get('output_max')?.errors?.required"
              >
                Please enter output max value.
              </span>
            </mat-error>
          </mat-form-field>
          <button mat-icon-button>
            <mat-icon>save</mat-icon>
          </button>
          <button mat-icon-button>
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button>
            <mat-icon>delete</mat-icon>
          </button>

          <div>
            <button mat-raised-button>Add</button>
          </div>

          <div align="right">
            <button
              mat-raised-button
              color="primary"
              style="margin-right: 20px"
              type="submit"
              [title]="
                machineConfigForm.valid
                  ? 'Save your data first'
                  : 'Dosabled until the form data is valid'
              "
              [disabled]="!machineConfigForm.valid"
            >
              Start
            </button>
            <button
              mat-raised-button
              color="warn"
              type="submit"
              [title]="
                machineConfigForm.valid
                  ? 'Save your data first'
                  : 'Dosabled until the form data is valid'
              "
              [disabled]="!machineConfigForm.valid"
            >
              Stop
            </button>
          </div>
        </mat-card-content>
      </form>
    </mat-card>
  </div>
</div>
